<!DOCTYPE html>
<html>
  <head>
    <title>Mini Message Board</title>
  </head>
  <body>
    <form method="POST" action="/new">
        <h1>Post a Message</h1>
        <input type="text" placeholder="Your Name" name="author">
        <input type="text" placeholder="Your Message" name="message">
        <button type="submit">Submit</button>
    </form>
  </body>
</html> 