<!DOCTYPE html>
<html>
  <head>
    <title>My List</title>
  </head>
  <body>
    <form method="POST" action="/new">
        <h1>Form</h1>
        <input type="text" placeholder="Author..." label="author">
        <input type="text" placeholder="Message..." label="message">
        <button>Submit</button>
    </form>
  </body>
</html>