<!DOCTYPE html>
<html>
  <head>
    <title>My List</title>
  </head>
  <body>
    <ul>
      <% messages.forEach((message) => { %>
        <% console.log(message, 'this is message') %>
        <li><%= message.user %></li>
        <li><%= message.text %></li>
        <li><%= message.added %></li>
      <% }); %>
    </ul>
  </body>
</html>
